*{
	margin:0;
	padding:0;
	background:#eee;
}
#content{
	width:100vw;
	margin: 0 auto;
	margin-top:2vw;
}
.content{
	margin:0 auto;
	margin-bottom:1vw;
	display:block;
	font-size:2vw;
}
.content > span{
	display:inline-block;
	width:15vw;
	text-align:right;
	vertical-align:middle;
}
.content > input{
	display:inline-block;
	width:80vw;
	height:4vw;
	text-align:left;
	vertical-align:middle;
	font-size:3vw;
	padding-left:1vw;
	border-radius:2vw;
	border:1px solid #0005;
	margin-left:2vw;
}
.content > a{
	display:inline-block;
	width:80vw;
	height:4vw;
	text-align:left;
	vertical-align:middle;
	font-size:3vw;
	margin-left:2vw;
}
input:focus{
	outline:none;
}